.taskItem {
  padding: 10px;
  border: 1px solid;
    border-radius: 8px;
    border-color: var(--tertiary-color);
}

.itemWrapper{
    width: 100%;
    padding: 4px 8px 0px 8px;
    gap: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.itemInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.arrowRight{
    width: 24px;
    height: 24px;
    color: var(--point-text-color);
}

.title{
    font-size: 15px;
    font-weight: 500;
    padding: 0;
    color: var(--text-color);
}

.description{
    font-size: 13px;
    font-weight: 400;
    color: var(--secondary-color);
}

.taskDate{
    font-size: 12px;
    align-self: flex-end;
    color: var(--secondary-color);
}

.itemHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 4px 8px;
}

.itemHeader .category {
    font-size: 11px;
    color: var(--tertiary-color);
}

.itemHeader .state {
    font-size: 11px;
    color: var(--point-text-color);
}

.iconButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    border-radius: 10px;
}

.iconButton:hover {
    background-color: #f3f4f6;
}

.arrowRight {
    width: 20px;
    height: 20px;
}