.taskPage {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.pageButton {
    display: flex;
    justify-content: center;
}

.pageButton > div {
    width: fit-content;
    display: flex;
    gap: 8px;
}

.errorMessage {
    color: var(--secondary-color);
    font-size: 14px;
    text-align: center;
}